.slider-mod.slider-mod--home.slider-mod--bonuses.js-animate
    .center
        a.cat-all__link(href="bonus.html") See all
        .slider-mod__title
            .slider-mod__title-box
                h2 Bonuses
        .swiper.slider-mod__list.slider-mod__list--home
            .swiper-wrapper
                +charItem(charItemBonusesSlider)