.slider-mod
    &--bonuses
        .charitem
            &__info
                bottom 0

            &__bottom
                &-bg
                    padding-top 44px
                    height 256px
                    clip-path polygon(0 0%, 100% 0, 100% 100%, 0 100%)