.slider-mod.slider-mod--home.slider-mod--tournaments.js-animate
    .center
        a.cat-all__link(href="##") See all
        .slider-mod__title
            .slider-mod__title-box
                h2 Tournaments
        .swiper.slider-mod__list.slider-mod__list--home
            .swiper-wrapper
                +charItem(charItemTournamentsSlider)