-
    let profileList = {
        subClass: 'profile-list',
        items: [
            {
                title: 'Cashier',
                link: 'cashier.html',
                svg: '<svg id="cashier-svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17 20H9.25L9.75 18H17C18.1046 18 19 17.1046 19 16V8C19 6.89543 18.1046 6 17 6H12.75L13.25 4H17C19.2091 4 21 5.79086 21 8V16C21 18.2091 19.2091 20 17 20ZM16 16H10.25L12.25 8H16C16.5523 8 17 8.44772 17 9V15C17 15.5523 16.5523 16 16 16ZM4.5 7C4.22386 7 4 7.22386 4 7.5C4 7.77614 4.22386 8 4.5 8H10.5C10.7761 8 11 7.77614 11 7.5C11 7.22386 10.7761 7 10.5 7H4.5ZM2.5 11C2.22386 11 2 11.2239 2 11.5C2 11.7761 2.22386 12 2.5 12H8.5C8.77614 12 9 11.7761 9 11.5C9 11.2239 8.77614 11 8.5 11H2.5ZM3 15.5C3 15.2239 3.22386 15 3.5 15H8.5C8.77614 15 9 15.2239 9 15.5C9 15.7761 8.77614 16 8.5 16H3.5C3.22386 16 3 15.7761 3 15.5Z" fill="#6E7480"/></svg>'
            },
            {
                title: 'My Bonuses',
                link: '##',
                svg: '<svg class="icn-bonus" width="24" height="24" viewBox="0 0 24 24"><g opacity="0.5"><path fill-rule="evenodd" clip-rule="evenodd" d="M19 9C19 12.866 15.866 16 12 16C8.13401 16 5 12.866 5 9C5 5.13401 8.13401 2 12 2C15.866 2 19 5.13401 19 9ZM12 5L12.8981 7.76393H15.8042L13.4531 9.47214L14.3511 12.2361L12 10.5279L9.64886 12.2361L10.5469 9.47214L8.19577 7.76393H11.1019L12 5ZM7 22V15.2454C8.36959 16.3433 10.1081 17 12 17C13.8919 17 15.6304 16.3433 17 15.2453V22L12 20L7 22Z" fill="#6E7480"/></g></svg>'
            },
            {
                title: 'My Tournaments',
                link: '##',
                svg: '<svg id="tournaments-svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 3C16.5 3 20.0285 10.9637 13 16C13.5 16.5 13.75 16.75 13.75 17C13.75 17.25 13.5 17.5 13 18L14.9755 19V21H9.00001V19L11 18C10.5 17.5 10.25 17.25 10.25 17C10.25 16.75 10.5 16.5 11 16C3.9714 10.9637 7.5 3 7.5 3H16.5ZM21.491 6C21.6449 6 21.7817 6.07461 21.8843 6.20518C21.987 6.33575 22.0212 6.52228 21.987 6.6715C21.9699 6.76477 21.5252 9.15233 20.1229 11.4653C19.6801 12.1954 19.1907 12.8326 18.6595 13.3752C18.5379 13.0004 18.3855 12.6395 18.2053 12.2954C18.5838 11.8715 18.938 11.3894 19.2679 10.8497C20.1229 9.43212 20.6018 7.9399 20.8241 7.11917H17.8656C17.8314 6.72746 17.7972 6.3544 17.7288 6H21.491ZM4.74901 10.887C5.07428 11.4127 5.42289 11.8827 5.79409 12.2964C5.61505 12.6385 5.46347 12.9972 5.34227 13.3696C4.8105 12.8291 4.32057 12.1941 3.87685 11.4653C2.47456 9.17098 2.02993 6.78342 2.01283 6.6715C1.97862 6.50363 2.01283 6.33575 2.11543 6.20518C2.21804 6.07461 2.35485 6 2.50876 6H6.0829C6.0316 6.3544 5.9803 6.72746 5.9632 7.11917H3.17571C3.39802 7.95855 3.87685 9.45078 4.74901 10.887Z" fill="#6E7480"/></svg>'
            },
            {
                title: 'Promocodes',
                link: '##',
                svg: '<svg id="promocode-svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 7C2 5.89543 2.89543 5 4 5H7V6H8V5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H8V18H7V19H4C2.89543 19 2 18.1046 2 17V15C5.44475 14.4833 5.44475 9.51671 2 9V7ZM10 8H11V16H10V8ZM14 8H12V16H14V8ZM16 8H17V16H16V8ZM19 8H18V16H19V8Z" fill="#6E7480"/></svg>'
            },
            {
                title: 'Personal Information',
                link: '##',
                attr: 'personal__screen',
                svg: '<svg width="24" height="24""><g fill="#6E7480"><ellipse cx="8.6" cy="7.554" rx="3.3" ry="3.554"/><path d="M15 17.138c0 3.153-3.452 2.854-7.042 2.854S2 20.291 2 17.138 4.91 12 8.5 12s6.5 1.985 6.5 5.138z"/><rect x="14" y="5" width="8" height="1" rx=".5"/><rect x="14" y="8" width="8" height="1" rx=".5"/><rect x="14" y="11" width="6" height="1" rx=".5"/></g></svg>'
            },
            {
                title: 'Settings',
                link: '##',
                svg: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.2571 13.1593C19.3172 12.7678 19.3472 12.3764 19.3472 11.9849C19.3472 11.5935 19.3172 11.2021 19.2571 10.8106L21 9.03407C20.5793 7.76941 19.9182 6.6252 19.0467 5.63154L16.6427 6.23376C16.0417 5.75198 15.3506 5.36054 14.6294 5.05943L13.9683 2.68067C13.3072 2.56022 12.6761 2.5 11.985 2.5C11.2938 2.5 10.6628 2.56022 10.0317 2.71078L9.37062 5.08954C8.61937 5.36054 7.95826 5.78209 7.35726 6.26387L4.95326 5.66165C4.0818 6.6252 3.4207 7.76941 3 9.06418L4.7429 10.8407C4.6828 11.2322 4.65275 11.6236 4.65275 12.0151C4.65275 12.4065 4.6828 12.7979 4.7429 13.1894L3 14.9358C3.4207 16.2005 4.0818 17.3447 4.95326 18.3384L7.35726 17.7361C7.95826 18.2179 8.64942 18.6094 9.37062 18.9105L10.0317 21.2892C10.6628 21.4097 11.3239 21.5 11.985 21.5C12.6461 21.5 13.3072 21.4398 13.9382 21.2892L14.5993 18.9105C15.3506 18.6395 16.0117 18.2179 16.6127 17.7361L19.0167 18.3384C19.8881 17.3748 20.5492 16.2306 20.9699 14.9358L19.2571 13.1593ZM11.985 16.351C9.58097 16.351 7.62771 14.3938 7.62771 11.9849C7.62771 9.57607 9.58097 7.61886 11.985 7.61886C14.389 7.61886 16.3422 9.57607 16.3422 11.9849C16.3422 14.3938 14.419 16.351 11.985 16.351Z" fill="#6E7480"/></svg>'
            }
        ]
    }