.cashier
    padding 16px 0 60px
    width 100%
    height auto
    visibility visible
    overflow visible

    &--tabscreen
        background-color $black

    .js-hide
        height 0
        visibility hidden
        overflow hidden

    .btn
        width 160px
        height 44px

        &__wrap
            justify-content center

    .historylist
        .btn
            margin-top 40px
            width 118px

    // .tabs__content
    //     height 100%
    //     max-height 590px
    //     overflow-y auto

    &__title
        margin-bottom 30px
        line-height 28px
        font-size 22px
        color $orange-light
        letter-spacing 0.35px