.loged-bonuses
    display none
    align-items center

    &__item
        margin-right 36px
        color $white
        text-align center

        &:first-child
            .loged-bonuses__sum
                color $yellow

    &__title
        line-height 13px
        font-size 11px
        letter-spacing .066px

    &__sum
        color $red
        font-weight 700
        letter-spacing -.408px


.wrapper--reg
    .loged-bonuses
        display inline-flex

        @media(max-width 1024px)
            display none