.charbet
    margin-bottom 20px
    width 100%
    display flex
    justify-content space-between
    position relative
    opacity 0
    transform translateY(-100%)
    transition opacity 400ms 2200ms, transform 400ms 2200ms

    &__item
        display inline-flex
        flex-direction column
        align-items center
        color $white

    &__title
        line-height 28px
        font-size 22px
        font-weight 700
        letter-spacing 0.35px

    &__label
        letter-spacing -0.408px



.animation
    .charbet
        opacity 1
        transform translateY(0)