.profile__user
    .profile__user-avatar
        picture
            source(srcset="./img/avatar.webp 1x, ./img/avatar@x2.webp 2x", type="image/webp")
            img(src="./img/avatar.png 1x", srcset="./img/avatar@x2.png 2x", alt="Avatar")