html
    font-size 62.5%

html,
body
    height 100%

body
    min-width 375px
    font-family 'Roboto', sans-serif
    line-height 22px
    font-size 17px
    font-weight 400
    color $gray-superlight
    background $black

header,
aside,
section,
footer
    display block

/*placeholder styles*/
::-webkit-input-placeholder
    color $gray-lighter

::-moz-placeholder
    color $gray-lighter

:-moz-placeholder
    color $gray-lighter

:-ms-input-placeholder
    color $gray-lighter

:focus::-webkit-input-placeholder
    color transparent

:focus::-moz-placeholder
    color transparent

:focus:-moz-placeholder
    color transparent

:focus:-ms-input-placeholder
    color transparent

a
    text-decoration none

img
    max-width 100%
    display block

input
    font-family 'Roboto', sans-serif
    line-height 22px
    font-size 17px
    box-sizing border-box

button
    width 100%
    display block
    padding 0
    border 0
    background none


input
    outline none

input:-webkit-autofill
    -webkit-box-shadow inset 0 0 0 50px $dark !important
    -webkit-text-fill-color $white !important
    color $white !important


.wrapper
    padding-top 56px
    width 100%
    min-height 100vh
    display flex
    flex-direction column
    justify-content space-between
    overflow hidden
    box-sizing border-box

.center
.center__header
    margin 0 auto
    padding 0 20px
    width 100%
    position relative
    box-sizing border-box

    @media(max-width 767px)
        padding 0 14px

.center
    max-width 1160px

.center
    &__header
        max-width 1448px
        display flex
        align-items center
        justify-content space-between

.hidden
    display none

.is-error
    &__label
        margin-top 4px
        display none
        line-height 18px
        font-size 13px
        color $red
        letter-spacing -0.078px

    .is-error__label
        display block

    label
        color $red !important

    .field
        box-shadow 0 0 0 1px $red

.is-verified

    &__label
        width 100%
        display none
        color $green
        letter-spacing -0.408px

    .form-line__icn--exclude
        display flex

    .btn
        display none

    .is-verified__label
        display block
