-
    let personalItems = [
        {
            cubClass: 'noconfirm',
            label: 'First name',
            note: 'not confirm',
            inputText: {
                type: 'text',
                class: 'profile-field',
                name: 'first-name',
                placeholder: 'First name'
            },
            btnConfirm: {
                className: 'btn',
                type: 'submit',
                label: 'Confirm'
            }
        },
        {
            cubClass: 'confirm',
            label: 'Last name',
            note: 'confirm',
            inputText: {
                type: 'text',
                class: 'profile-field',
                name: 'last-name',
                placeholder: 'Last name',
                value: 'Devi'
            },
            btnConfirm: {
                className: 'btn',
                type: 'submit',
                label: 'Confirm'
            }
        },
        {
            label: 'Email',
            note: 'confirm',
            inputText: {
                type: 'text',
                class: 'profile-field',
                name: 'email',
                placeholder: 'Email',
                value: 'aarav@mail.com'
            },
            btnConfirm: {
                className: 'btn',
                type: 'submit',
                label: 'Confirm'
            }
        },
        {
            cubClass: 'noconfirm',
            label: 'Phone number',
            note: 'not confirm',
            inputText: {
                type: 'text',
                class: 'profile-field',
                name: 'phone',
                placeholder: 'Phone number',
                value: '+91 11 23016754'
            },
            btnConfirm: {
                className: 'btn',
                type: 'submit',
                label: 'Confirm'
            }
        }
    ]