-
    const searchInput = {
        type: 'text',
        id: 'search',
        class: 'field field__search',
        name: 'search'
    }

-
    const searchBtn = {
        id: 'search-btn',
        className: 'search__btn',
        type: 'button'
    }

-
    const searchBtnOpen = {
        id: 'search-open',
        className: 'search__btn-open',
        type: 'button'
    }