include vars-tools


.tools-list
    each item in tools
        .tools-list__item
            a.tools-list__link(href= item.link)
                span.tools-list__icn!= item.icn
                span.tools-list__title= item.title