.tools-list
    display inline-flex
    align-items center

    @media(max-width 1024px)
        padding 2px 0 35px
        width 100%
        height 83px
        align-items flex-end
        justify-content center
        position fixed
        left 0
        bottom 0
        background-color $black
        box-sizing border-box

    .btn-deposite
        @media(min-width 1025px)
            display none

    &__item
        margin-left 24px

        &:first-child
            margin-left 0

        @media(max-width 1200px)
            margin-left 14px

        @media(max-width 1024px)
            margin 0

        &:hover
            circle
            path
            g
                fill $white
                opacity 1
                transition fill 250ms, opacity 250ms

            .games
                path
                    &:first-child
                        fill none
                        stroke $white
                        transition stroke 250ms, opacity 250ms

            .slot
                circle
                path
                    fill none
                    stroke $white
                    transition stroke 250ms, opacity 250ms

        &--deposite
            @media(min-width 1025px)
                display none

            .btn-deposite
                margin-bottom 4px
                box-shadow 0 0 0 4px $black

    &__link
        display flex
        align-items center

        @media(max-width 1024px)
            flex-direction column

        @media(max-width 1024px)
            width 70px

        &:hover
            .tools-list__title
                color $white

    &__icn
        margin-right 4px
        width 24px
        height 24px
        display block
        flex-shrink 0

        @media(max-width 1024px)
            margin-right 0
            margin-bottom 2px

        svg
            width 100%
            height 100%
            display block

    &__title
        line-height 16px
        font-size 14px
        color $gray-superlight
        transition color 250ms

        @media(max-width 1200px)
            text-align center
            line-height 13px
            font-size 11px