include vars-tools


.tools-list
    each item in tools
        div(class="tools-list__item" + (item.subClass ? ' ' + item.subClass : ''))
            a.tools-list__link(href= item.link)
                if(item.icn)
                    span.tools-list__icn!= item.icn
                else
                    include ./../../../modules/btn-deposite/btn-deposite
                span.tools-list__title= item.title