-
    login = {
        className: 'btn',
        type: 'submit',
        disabled: true,
        label: 'Log in'
    }



-
    let charItemLoginForm = [
        {
            claccName: 'charitem',
            src: './img/tornament-char-1.png',
            src2x: './img/tornament-char-1@x2.png 2x',
            srcAlt: '',
            webp: './img/tornament-char-1.webp 1x, ./img/tornament-char-1@x2.webp 2x',
            place: '<span>324</span> place',
            nowstiker: 'Now',
            infotext: {
                title: 'Pragmatic play championship',
                desc: '210 players are already in'
            },
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>2,48,74,583</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'More details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]