.charitem
    &__info
        &-text
            margin-bottom 15px
            color $yellow
            text-align center
            position relative
            opacity 0
            transform translateY(-100%)
            transition opacity 400ms 2200ms, transform 400ms 2200ms

        &-title
            line-height 28px
            font-size 22px
            font-weight 700
            letter-spacing 0.35px

        &-desc
            letter-spacing -0.408px

.animation
    .charitem__info-text
        opacity 1
        transform translateY(0)