.charitem
    &__info
        &-text
            margin-bottom 15px
            color $yellow
            text-align center

        &-title
            line-height 28px
            font-size 22px
            font-weight 700
            letter-spacing 0.35px

        &-desc
            letter-spacing -0.408px