include var-cashier-tabs

+tabs(cashierTabs)
    +notify(notifyWarning)
    +notify(notifyReceived)
    .tabs__content-viewport
        .tabs__content-item
            .tabs__content-title Deposit
            include ./../carts-list/carts-list-deposit
            include ./../cashier-forms/deposit-form
        .tabs__content-item
            .tabs__content-title Withdrawal
            include ./../empty-box/empty-box
            include ./../carts-list/carts-list
            include ./../cashier-forms/request-form
        .tabs__content-item
            .tabs__content-title Hirtory
            include ./../empty-box/empty-box-history
            include ./../history-list/history-list