include var-bonus-content


.bonus__title My Bonuses

//slider Bonuses
.slider-mod.slider-mod--active.js-animate.js-bonuses
    .center
        .slider-mod__title
            h3 Active
        .swiper.slider-mod__list
            .swiper-wrapper
                +charItem(charItemBonusesSlider)



//Available

.slider-mod.slider-mod--active.js-animate.js-bonuses
    .center
        .slider-mod__title
            h3 Available
        .swiper.slider-mod__list
            .swiper-wrapper
                +charItem(charItemAvailableSlider)

include ./../../modules/bonus-empty/bonus-empty