-
    let bonusItemActive = [
        {
            cancel: true,
            bgPath: './img/character-1.png',
            bgAlt: 'Character',
            title: 'SECOND <span>bonus</span>',
            procent: '100%',
            stiker: {
                title: 'Wager',
                subClass: 'orange'
            },
            itemBottomInfo: [
                {title: '₹ 500', text: 'min bet'},
                {title: '₹ 5 000', text: 'max bet'},
                {title: 'x35', text: 'wager'},
                {title: '12:59:59', text: 'до конца', subClass: 'blue'},
                {title: '₹ 60,000', text: 'Total up to', subClass: 'green'}
            ],
            btnFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            btnBack: {
                className: 'btn btn--orange js-ok',
                type: 'button',
                label: 'Ok'
            },
            textBack: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.'
        },
        {
            cancel: true,
            bgPath: './img/character-2.png',
            bgAlt: 'Character',
            title: 'SECOND <span>bonus</span>',
            procent: '100%',
            stiker: {
                title: 'Cashback',
                subClass: 'green'
            },
            itemBottomInfo: [
                {title: '₹ 500', text: 'min bet'},
                {title: '₹ 5 000', text: 'max bet'},
                {title: 'x35', text: 'wager'},
                {title: '12:59:59', text: 'до конца', subClass: 'blue'},
                {title: '₹ 60,000', text: 'Total up to', subClass: 'green'}
            ],
            btnFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            btnBack: {
                className: 'btn btn--orange js-ok',
                type: 'button',
                label: 'Ok'
            },
            textBack: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.'
        },
        {
            cancel: true,
            bgPath: './img/character-3.png',
            bgAlt: 'Character',
            title: 'SECOND <span>bonus</span>',
            procent: '100%',
            stiker: {
                title: 'Freespin',
                subClass: 'blue'
            },
            itemBottomInfo: [
                {title: '₹ 500', text: 'min bet'},
                {title: '₹ 5 000', text: 'max bet'},
                {title: 'x35', text: 'wager'},
                {title: '12:59:59', text: 'до конца', subClass: 'blue'},
                {title: '₹ 60,000', text: 'Total up to', subClass: 'green'}
            ],
            btnFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            btnBack: {
                className: 'btn btn--orange js-ok',
                type: 'button',
                label: 'Ok'
            },
            textBack: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.'
        }
    ]


-
    let bonusItemAvailable = [
        {
            bgPath: './img/character-3.png',
            bgAlt: 'Character',
            title: 'SECOND <span>bonus</span>',
            procent: '100%',
            stiker: {
                title: 'Wager + freebet',
                subClass: 'brown'
            },
            itemBottomInfo: [
                {title: '₹ 500', text: 'min bet'},
                {title: '₹ 5 000', text: 'max bet'},
                {title: 'x35', text: 'wager'},
                {title: '12:59:59', text: 'до конца', subClass: 'blue'},
                {title: '₹ 60,000', text: 'Total up to', subClass: 'green'}
            ],
            btnFront: [
                {
                    className: 'btn btn--grey js-detail',
                    type: 'button',
                    label: 'Details'
                },
                {
                    className: 'btn btn--orange js-getbonus',
                    type: 'button',
                    label: 'Get bonus'
                }
            ],
            btnBack: {
                className: 'btn btn--orange js-ok',
                type: 'button',
                label: 'Ok'
            },
            textBack: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.'
        },
        {
            bgPath: './img/character-2.png',
            bgAlt: 'Character',
            title: 'SECOND <span>bonus</span>',
            procent: '100%',
            stiker: {
                title: 'Wager',
                subClass: 'orange'
            },
            itemBottomInfo: [
                {title: '₹ 500', text: 'min bet'},
                {title: '₹ 5 000', text: 'max bet'},
                {title: 'x35', text: 'wager'},
                {title: '12:59:59', text: 'до конца', subClass: 'blue'},
                {title: '₹ 60,000', text: 'Total up to', subClass: 'green'}
            ],
            btnFront: [
                {
                    className: 'btn btn--grey js-detail',
                    type: 'button',
                    label: 'Details'
                },
                {
                    className: 'btn btn--orange js-getbonus',
                    type: 'button',
                    label: 'Get bonus'
                }
            ],
            btnBack: {
                className: 'btn btn--orange js-ok',
                type: 'button',
                label: 'Ok'
            },
            textBack: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.'
        }
    ]


-
    cancelBtnYes = {
        className: 'btn btn--grey js-yes',
        type: 'button',
        label: 'Yes'
    }

-
    cancelBtnNo = {
        className: 'btn js-no',
        type: 'button',
        label: 'No'
    }





-
    let noBonusItemActive = [
        {
            bgPath: './img/character-4.png',
            bgAlt: 'Character',
            nobonus: 'You have no bonuses',
            btnFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ]
        }
    ]

-
    noBonusBtn = {
        className: 'btn  btn--orange',
        type: 'button',
        label: 'Tournaments'
    }


-
    let charItemBonusesSlider = [
        {
            claccName: 'swiper-slide charitem',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-1.png',
            src2x: './img/character-1@x2.png 2x',
            srcAlt: '',
            webp: './img/character-1.webp 1x, ./img/character-1@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Wager',
                subClass: 'stiker stiker--orange'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-2.png',
            src2x: './img/character-2@x2.png 2x',
            srcAlt: '',
            webp: './img/character-2.webp 1x, ./img/character-2@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Cashback',
                subClass: 'stiker stiker--green'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-3.png',
            src2x: './img/character-3@x2.png 2x',
            srcAlt: '',
            webp: './img/character-3.webp 1x, ./img/character-3@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Freespin',
                subClass: 'stiker stiker--blue'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-4.png',
            src2x: './img/character-4@x2.png 2x',
            srcAlt: '',
            webp: './img/character-4.webp 1x, ./img/character-4@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Freebet',
                subClass: 'stiker stiker--red'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]