-
    let charItemBonusesSlider = [
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-1.png',
            src2x: './img/character-1@x2.png 2x',
            srcAlt: '',
            webp: './img/character-1.webp 1x, ./img/character-1@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Wager',
                subClass: 'stiker stiker--orange'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-2.png',
            src2x: './img/character-2@x2.png 2x',
            srcAlt: '',
            webp: './img/character-2.webp 1x, ./img/character-2@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Cashback',
                subClass: 'stiker stiker--green'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-3.png',
            src2x: './img/character-3@x2.png 2x',
            srcAlt: '',
            webp: './img/character-3.webp 1x, ./img/character-3@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Freespin',
                subClass: 'stiker stiker--blue'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-4.png',
            src2x: './img/character-4@x2.png 2x',
            srcAlt: '',
            webp: './img/character-4.webp 1x, ./img/character-4@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Freebet',
                subClass: 'stiker stiker--red'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]



-
    let charItemAvailableSlider = [
        {
            claccName: 'swiper-slide charitem charitem--bonus charitem--available',
            src: './img/character-1.png',
            src2x: './img/character-1@x2.png 2x',
            srcAlt: '',
            webp: './img/character-1.webp 1x, ./img/character-1@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Wager + freebet',
                subClass: 'stiker stiker--brown'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--grey js-detail',
                    type: 'button',
                    label: 'Details'
                },
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Get bonus'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus charitem--available',
            src: './img/character-2.png',
            src2x: './img/character-2@x2.png 2x',
            srcAlt: '',
            webp: './img/character-2.webp 1x, ./img/character-2@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Wager',
                subClass: 'stiker stiker--orange'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--grey js-detail',
                    type: 'button',
                    label: 'Details'
                },
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Get bonus'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]