-
    let charItemLoginPopup = [
        {
            claccName: 'charitem',
            src: './img/popup-tournament.png',
            src2x: './img/popup-tournament@x2.png 2x',
            srcAlt: '',
            webp: './img/popup-tournament.webp 1x, ./img/popup-tournament@x2.webp 2x',
            place: '<span>324</span> place',
            nowstiker: 'Now',
            infotext: {
                title: 'Pragmatic play championship',
                desc: '210 players are already in'
            },
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '|₹ <span>2,48,74,583</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'More details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]


-
    const popupLoginTabs = {
        subClass: 'tabs--login tab-1',
        headerItems: [
            {
                title: 'Use email',
                data: 'tab-1',
            },
            {
                title: 'Use phone number',
                data: 'tab-2',
            }
        ]
    }


-
    let fieldLogCheck = {
        type: 'checkbox',
        id: 'fogot-pass',
        class: 'field field__checkbox',
        name: 'fogot-pass',
        checked: true
    }


-
    popupLoginBtn = {
        className: 'btn',
        type: 'submit',
        disabled: true,
        label: 'Log in'
    }