-
    sportSlider = [
        {
            webp: './img/sports-slider-1.webp 1x, ./img/sports-slider-1@x2.webp 2x',
            src: './img/sports-slider-1@x1.jpg',
            src2x: './img/sports-slider-1@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-2.webp 1x, ./img/sports-slider-2@x2.webp 2x',
            src: './img/sports-slider-2@x1.jpg',
            src2x: './img/sports-slider-2@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            checked: true,
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-3.webp 1x, ./img/sports-slider-3@x2.webp 2x',
            src: './img/sports-slider-3@x1.jpg',
            src2x: './img/sports-slider-3@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-4.webp 1x, ./img/sports-slider-4@x2.webp 2x',
            src: './img/sports-slider-4@x1.jpg',
            src2x: './img/sports-slider-4@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-5.webp 1x, ./img/sports-slider-5@x2.webp 2x',
            src: './img/sports-slider-5@x1.jpg',
            src2x: './img/sports-slider-5@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            checked: true,
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-6.webp 1x, ./img/sports-slider-6@x2.webp 2x',
            src: './img/sports-slider-6@x1.jpg',
            src2x: './img/sports-slider-6@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-7.webp 1x, ./img/sports-slider-7@x2.webp 2x',
            src: './img/sports-slider-7@x1.jpg',
            src2x: './img/sports-slider-7@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-8.webp 1x, ./img/sports-slider-8@x2.webp 2x',
            src: './img/sports-slider-8@x1.jpg',
            src2x: './img/sports-slider-8@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            checked: true,
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-9.webp 1x, ./img/sports-slider-9@x2.webp 2x',
            src: './img/sports-slider-9@x1.jpg',
            src2x: './img/sports-slider-9@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        },
        {
            webp: './img/sports-slider-10.webp 1x, ./img/sports-slider-10@x2.webp 2x',
            src: './img/sports-slider-10@x1.jpg',
            src2x: './img/sports-slider-10@x2.jpg 2x',
            srcAlt: 'Football',
            className: 'swiper-slide cat-slider__item',
            checked: true,
            hidden: [
                {
                    className: 'btn',
                    type: 'link',
                    label: 'Play Real',
                    href: '##'
                },
                {
                    className: 'btn btn--grey',
                    type: 'link',
                    label: 'Demo',
                    href: '##'
                }
            ]
        }
    ]


-
    let charItemBonusesSlider = [
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-1.png',
            src2x: './img/character-1@x2.png 2x',
            srcAlt: '',
            webp: './img/character-1.webp 1x, ./img/character-1@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Wager',
                subClass: 'stiker stiker--orange'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-2.png',
            src2x: './img/character-2@x2.png 2x',
            srcAlt: '',
            webp: './img/character-2.webp 1x, ./img/character-2@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Cashback',
                subClass: 'stiker stiker--green'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-3.png',
            src2x: './img/character-3@x2.png 2x',
            srcAlt: '',
            webp: './img/character-3.webp 1x, ./img/character-3@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Freespin',
                subClass: 'stiker stiker--blue'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem charitem--bonus',
            cancel: [
                {
                    className: 'btn btn--grey js-yes',
                    type: 'button',
                    label: 'Yes'
                },
                {
                    className: 'btn js-no',
                    type: 'button',
                    label: 'No'
                }
            ],
            src: './img/character-4.png',
            src2x: './img/character-4@x2.png 2x',
            srcAlt: '',
            webp: './img/character-4.webp 1x, ./img/character-4@x2.webp 2x',
            progress: true,
            stiker: {
                title: 'Freebet',
                subClass: 'stiker stiker--red'
            },
            banner: {
                desc: 'SECOND <span>bonus</span>',
                title: '100%'
            },
            bet: [
                {
                    price: '₹ <span>500</span>',
                    label: 'min bet'
                },
                {
                    price: '₹ <span>5 000</span>',
                    label: 'max bet'
                },
                {
                    price: 'x35',
                    label: 'wager'
                }
            ],
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>60,000</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'Details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]



-
    let charItemTournamentsSlider = [
        {
            claccName: 'swiper-slide charitem',
            src: './img/tornament-char-1.png',
            src2x: './img/tornament-char-1@x2.png 2x',
            srcAlt: '',
            webp: './img/tornament-char-1.webp 1x, ./img/tornament-char-1@x2.webp 2x',
            place: '<span>324</span> place',
            nowstiker: 'Now',
            infotext: {
                title: 'Pragmatic play championship',
                desc: '210 players are already in'
            },
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>2,48,74,583</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'More details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem',
            src: './img/tornament-char-2.png',
            src2x: './img/tornament-char-2@x2.png 2x',
            srcAlt: '',
            webp: './img/tornament-char-2.webp 1x, ./img/tornament-char-2@x2.webp 2x',
            place: '<span>324</span> place',
            nowstiker: 'Now',
            infotext: {
                title: 'Pragmatic play championship',
                desc: '210 players are already in'
            },
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>2,48,74,583</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'More details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem',
            src: './img/tornament-char-3.png',
            src2x: './img/tornament-char-3@x2.png 2x',
            srcAlt: '',
            webp: './img/tornament-char-3.webp 1x, ./img/tornament-char-3@x2.webp 2x',
            infotext: {
                title: 'Pragmatic play championship',
                desc: '210 players are already in'
            },
            total: [
                {
                    title: '12:59:59',
                    label: 'до конца'
                },
                {
                    title: '₹ <span>2,48,74,583</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'More details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        },
        {
            claccName: 'swiper-slide charitem disabled',
            src: './img/tornament-char-4.png',
            src2x: './img/tornament-char-4@x2.png 2x',
            srcAlt: '',
            webp: './img/tornament-char-4.webp 1x, ./img/tornament-char-4@x2.webp 2x',
            infotext: {
                title: 'Pragmatic play championship',
                desc: '210 players are already in'
            },
            total: [
                {
                    title: 'barr***',
                    label: 'Winner'
                },
                {
                    title: '₹ <span>2,48,74,583</span>',
                    label: 'Rise Fund'
                }
            ],
            btnsFront: [
                {
                    className: 'btn btn--orange js-detail',
                    type: 'button',
                    label: 'More details'
                }
            ],
            backText: 'Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке существенных финансовых и административных условий.',
            btnsBack: [
                {
                    className: 'btn btn--orange js-ok',
                    type: 'button',
                    label: 'Ok'
                }
            ]
        }
    ]


-
    let epicsItems = [
        {
            class: 'swiper-slide epics',
            webp: './img/avatars/evva.webp 1x, ./img/avatars/evva@x2.webp 2x',
            src: './img/avatars/evva.png',
            src2x: './img/avatars/evva@x2.png 2x',
            srcAlt: 'Evva',
            name: 'evva***',
            title: 'EPIC Gladiators',
            price: '$<span>56 000.00</span>'
        },
        {
            class: 'swiper-slide epics',
            webp: './img/avatars/abbdy.webp 1x, ./img/avatars/abbdy@x2.webp 2x',
            src: './img/avatars/abbdy.png',
            src2x: './img/avatars/abbdy@x2.png 2x',
            srcAlt: 'abbdy',
            name: 'abbdy***',
            title: 'EPIC Gladiators',
            price: '$<span>56 000.00</span>'
        },
        {
            class: 'swiper-slide epics',
            webp: './img/avatars/elen.webp 1x, ./img/avatars/elen@x2.webp 2x',
            src: './img/avatars/elen.png',
            src2x: './img/avatars/elen@x2.png 2x',
            srcAlt: 'elen',
            name: 'elen***',
            title: 'EPIC Gladiators',
            price: '$<span>56 000.00</span>'
        },
        {
            class: 'swiper-slide epics',
            webp: './img/avatars/alex.webp 1x, ./img/avatars/alex@x2.webp 2x',
            src: './img/avatars/alex.png',
            src2x: './img/avatars/alex@x2.png 2x',
            srcAlt: 'alex',
            name: 'alex***',
            title: 'EPIC Gladiators',
            price: '$<span>56 000.00</span>'
        },
        {
            class: 'swiper-slide epics',
            webp: './img/avatars/lilu.webp 1x, ./img/avatars/lilu@x2.webp 2x',
            src: './img/avatars/lilu.png',
            src2x: './img/avatars/lilu@x2.png 2x',
            srcAlt: 'lilu',
            name: 'lilu***',
            title: 'EPIC Gladiators',
            price: '$<span>56 000.00</span>'
        },
        {
            class: 'swiper-slide epics',
            webp: './img/avatars/lola.webp 1x, ./img/avatars/lola@x2.webp 2x',
            src: './img/avatars/lola.png',
            src2x: './img/avatars/lola@x2.png 2x',
            srcAlt: 'lola',
            name: 'lola***',
            title: 'EPIC Gladiators',
            price: '$<span>56 000.00</span>'
        }
    ]