.charitem
    &__back
        padding 40px 40px 94px
        display flex
        color $white
        flex-direction column
        justify-content center
        position relative
        background-color $gray
        transform rotateY(180deg)

        .btn__wrap
            position absolute
            left 0
            bottom 23px