.select
    width 100%
    height 48px
    color $gray-superlight
    letter-spacing -0.41px
    position relative
    z-index 1
    background-color $dark
    border-radius 16px
    box-sizing border-box

    &-code
        appearance none
        opacity 0

    &.is-open
        border-radius 16px 16px 0 0

        .select__single
            &:after
                transform translateY(-50%) rotate(180deg)

        .select__dropdown
            height 125px

    &__inner
        width 100%
        height 100%

    &__single
        padding 0 8px
        width 100%
        height 100%
        line-height 48px
        font-size 15px
        position relative
        box-sizing border-box
        cursor pointer

        &:after
            content ''
            width 24px
            height 24px
            position absolute
            top 50%
            right 5px
            transform translateY(-50%)
            background url(../img/svg/select-arrow.svg) no-repeat center

        &-item
            width 100%
            height 100%
            display flex
            align-items center

    &__dropdown
        width 100%
        height 0
        position absolute
        top 100%
        left 0
        overflow-y auto
        background-color $dark
        border-radius 0 0 16px 16px
        box-sizing border-box
        transition height 150ms

        &>div
            padding 8px
            width 100%
            box-sizing border-box

    &__list
        &-item
            margin-top 5px
            padding 5px 0
            line-height 20px
            font-size 15px
            cursor pointer
            transition color 250ms

            &:first-child
                margin-top 0

            &:hover
                color $green