include ./mix-btn/mix-btn
include ./mix-menu-list/mix-menu-list
include ./mix-char-item/mix-char-item
include ./mix-tabs/mix-tabs
include ./mix-infolist/mix-infolist
include ./mix-historylist/mix-historylist
include ./mix-epics/mix-epics
include ./mix-logolist/mix-logolist
include ./mix-notify/mix-notify


include ./mix-cat-item/mix-cat-item
include ./mix-fields-form/mix-input-text/mix-input-text
include ./mix-fields-form/mix-checkbox/mix-checkbox
include ./mix-fields-form/mix-select/mix-select


include ./mix-stiker/mix-stiker