include ./mix-btn/mix-btn
include ./mix-binus-item/item.pug
include ./mix-char-item/mix-char-item

include ./mix-cat-item/mix-cat-item
include ./mix-fields-form/mix-input-text/mix-input-text
include ./mix-fields-form/mix-checkbox/mix-checkbox


include ./mix-stiker/mix-stiker