.cashier-form
    width 100%

    &--request
        .btn__wrap
            margin-top 28px

    &--payment
        .btn__wrap
            margin-top 40px

    .form-line
        margin-bottom 24px

    .label__checkbox
        font-size 12px
        color $gray-superlight