-
    let balanceBoxes = [
        {
            sum: '₹ <span>32,000</span>',
            title: 'Balance'
        },
        {
            sum: '₹ <span>190,000</span>',
            title: 'Bonus'
        }
    ]