.popup-reg

    @media(min-width 1025px) and (max-height 710px)
        height 100%
        top 0
        transform translate(-50%, 0)

    @media(max-width 1024px) and (max-height 710px)
        height 100%
        top 0
        transform translate(-50%, 0)

    @media(max-width 767px) and (max-height 871px)
        height 100%
        top 0
        transform translate(-50%, 0)

    .btn__wrap
        width calc(50% - 8px)

    .form-line
        &--double
            .btn__wrap
                margin-top 24px

        &--check
            .btn__wrap
                margin-top 0

    .form-line--check
        margin 24px 0 30px

    .popup
        &__columns
            @media(max-width 767px)
                flex-direction column

        &__form
            width 100%