.charitem
    width 100%
    max-width 352px
    height 480px
    position relative
    perspective 1000px
    border-radius 26px

    @media(max-width 767px)
        max-width 332px

    &.show
        &:before
            content ''
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            z-index 2
            background-color rgba($black, 0.6)

        .cancel-bonus
            opacity 1
            visibility visible

    &--rotate
        .charitem
            &__front
                transform rotateY(180deg)

            &__back
                transform rotateY(360deg)

    &--bonus
        .charitem
            &__info
                bottom 0

            &__bottom
                &-bg
                    padding-top 44px
                    height 256px

                    &:before
                        width 100%
                        height 100%
                        top 0
                        left 0
                        transform rotate(0)

    &--available
        .charitem__bottom-bg
            .btn
                &--grey
                    width 94px

                &--orange
                    width 206px

                    @media(max-width 768px)
                        width 192px

                &__wrap
                    justify-content space-between

    &.disabled
        filter grayscale(1)

    &__front
    &__back
        width 100%
        height 100%
        position absolute
        bottom 0
        left 0
        backface-visibility hidden
        border-radius 16px
        transition 600ms
        box-sizing border-box

    &__front
        height calc(100% - 33px)
        display flex
        align-items flex-end

        .btn
            opacity 0
            transform translateY(100%)
            transition opacity 400ms 2400ms, transform 400ms 2400ms

    &__bg
        width 100%
        height 480px
        opacity 0
        transition opacity 650ms 600ms

        img
            @media(max-width 767px)
                height 480px

    &__info
        padding 38px 16px 0
        width 100%
        height 100%
        position absolute
        left 0
        bottom -1px
        box-sizing border-box

    &__place
        width 118px
        height 40px
        line-height 40px
        color $yellow
        font-weight 700
        text-align center
        letter-spacing -0.408px
        position absolute
        top 160px
        left 50%
        z-index 1
        opacity 0
        background-color $red
        border-radius 8px
        transform translateX(-50%)
        transition opacity 350ms 1400ms

    &__bottom
        &-bg
            padding 55px 16px 24px
            width 100%
            height 290px
            position absolute
            left 0
            bottom 0
            // clip-path polygon(0 15%, 100% 0, 100% 100%, 0 100%)
            overflow hidden
            // opacity 0
            // background-color rgba($black, .75)
            // backdrop-filter blur(12px)
            border-radius 0 0 16px 16px
            box-sizing border-box
            // transition opacity 650ms 600ms

            &:before
                content ''
                width 108%
                height 102%
                position absolute
                left -10px
                top 24px
                opacity 0
                background-color rgba($black, .75)
                backdrop-filter blur(0)
                transform rotate(-6deg)
                transition opacity 600ms 1000ms, backdrop-filter 600ms 1600ms

    .btn
        width 160px
        height 48px
        line-height 21px
        font-size 18px

        &__wrap
            justify-content center
            position relative

    &__cancel
        width 32px
        height 32px
        position absolute
        top 0
        right 0
        border 0
        opacity 0
        background url(../img/svg/btn-cancel.svg) no-repeat center
        background-size cover
        cursor pointer
        transition opacity 250ms 1200ms

        // &:hover
        //     opacity .5
        //     transition opacity 250ms


.animation
    .charitem
        &__bg
        &__cancel
        &__bottom-bg
        &__place
            opacity 1

        &__bottom-bg
            &:before
                opacity 1
                backdrop-filter blur(12px)

    .charitem__front
        .btn
            opacity 1
            transform translateY(0)