-
    let socialBox = {
        title: 'or login via social network',
        icns: [
            {link: '##', icnUrl: './img/svg/icn-fb.svg', icnAlt: 'Facebook'},
            {link: '##', icnUrl: './img/svg/icn-google.svg', icnAlt: 'Google'},
            {link: '##', icnUrl: './img/svg/icn-aa.svg', icnAlt: 'Aadhaar'}
        ]
    }