.banner-slider
    margin 0 auto 20px
    width 100%
    max-width 1120px

    @media(max-width 650px)
        height 260px

    img
        position relative

        @media(max-width 650px)
            width auto
            max-width inherit
            height 100%
            left 50%
            transform translateX(-50%)
