-
    bannerSlider = [
        {
            webp: './img/home-slider-1.webp 1x, ./img/home-slider-1@x2.webp 2x',
            src: './img/home-slider-1@x1.jpg',
            src2x: './img/home-slider-1@x2.jpg 2x',
            srcAlt: 'Bonus 150',
        },
        {
            webp: './img/home-slider-1.webp 1x, ./img/home-slider-1@x2.webp 2x',
            src: './img/home-slider-1@x1.jpg',
            src2x: './img/home-slider-1@x2.jpg 2x',
            srcAlt: 'Bonus 150',
        }
    ]