.footer__bottom
    .center
        .footer__info
            .footer__info-title PLAY HARD
            p One of the many benefits of playing online casinos is that you can easily track how much you put in and how much you choose in a finer and better way than before. You also immediately see how much profit you get or how much you invest.
        .footer__logo
            img(src="./img/svg/logo-footer.svg", alt="GC")
        .footer__address
            p www.9winz.com is operated and licensed by Globis N.V., with a company registered under the laws of Curacao under registration number 155962, license Nr. 365/JAZ.