include var-footer


footer.footer
    //block logos pay
    +logolist(payLogos)

    //block logo providers
    +logolist(providersList)

    include ./footer-menu/footer-menu
    include ./bottom-block/bottom-block
.overlay
include ./../../modules/login/login-popup/login-popup