-
    let payLogos = {
        class: 'logolist logolist--paycart',
        title: 'Payments',
        items: [
            {itemClass: 'logolist__item logolist__item--googlepay', img: './img/logos/googlepay.svg', alt: 'G Pay'},
            {itemClass: 'logolist__item logolist__item--hdfcbank', img: './img/logos/hdfcbank.svg', alt: 'HDFC Bank'},
            {itemClass: 'logolist__item logolist__item--visa', img: './img/logos/visa.svg', alt: 'VISA'},
            {itemClass: 'logolist__item logolist__item--mastercard', img: './img/logos/mastercard.svg', alt: 'Mastercard'},
            {itemClass: 'logolist__item logolist__item--statebank', img: './img/logos/statebank.svg', alt: 'State Bank of India'},
            {itemClass: 'logolist__item logolist__item--upi', img: './img/logos/upi.svg', alt: 'UPI'},
            {itemClass: 'logolist__item logolist__item--icicibank', img: './img/logos/icicibank.svg', alt: 'icici bank'},
            {itemClass: 'logolist__item logolist__item--rupay', img: './img/logos/rupay.svg', alt: 'RuPay'},
            {itemClass: 'logolist__item logolist__item--axisbank', img: './img/logos/axisbank.svg', alt: 'Axis Bank'},
            {itemClass: 'logolist__item logolist__item--yesbank', img: './img/logos/yesbank.svg', alt: 'YES BANK'},
            {itemClass: 'logolist__item logolist__item--bankbaroda', img: './img/logos/bankbaroda.svg', alt: 'Bank of Baroda'},
            {itemClass: 'logolist__item logolist__item--pnb', img: './img/logos/pnb.svg', alt: 'pnb'},
            {itemClass: 'logolist__item logolist__item--kotac', img: './img/logos/kotac.svg', alt: 'kotac'},
            {itemClass: 'logolist__item logolist__item--phonepe', img: './img/logos/phonepe.svg', imgDop: './img/logos/phonepe-mob.svg', alt: 'PhonePe'}
        ]
    }


-
    let providersList = {
        class: 'logolist',
        title: 'Game Providers',
        items: [
            {img: './img/logos/thunderkick.svg', alt: 'Thunderkick'},
            {img: './img/logos/habanero.svg', alt: 'Habanero'},
            {img: './img/logos/spinomenal.svg', alt: 'Spinomenal'},
            {img: './img/logos/evolution.svg', alt: 'Evolution'},
            {img: './img/logos/pushgaming.svg', alt: 'PUSH GAMING'},
            {img: './img/logos/quickspin.svg', alt: 'Quickspin'},
            {img: './img/logos/nolimit.svg', alt: 'Nolimit'},
            {img: './img/logos/netgame.svg', alt: 'Netgame'},
            {img: './img/logos/netent.svg', alt: 'Netent'},
            {img: './img/logos/lightingbox.svg', alt: 'Lighting Box'},
            {img: './img/logos/ezugi.svg', alt: 'Ezugi'}
        ]
    }