-
    let payLogos = {
        class: 'logolist',
        title: 'Payments',
        items: [
            {img: './img/logos/googlepay.svg', alt: 'G Pay'},
            {img: './img/logos/hdfcbank.svg', alt: 'HDFC Bank'},
            {img: './img/logos/visa.svg', alt: 'VISA'},
            {img: './img/logos/mastercard.svg', alt: 'Mastercard'},
            {img: './img/logos/statebank.svg', alt: 'State Bank of India'},
            {img: './img/logos/upi.svg', alt: 'UPI'},
            {img: './img/logos/icicibank.svg', alt: 'icici bank'},
            {img: './img/logos/rupay.svg', alt: 'RuPay'},
            {img: './img/logos/axisbank.svg', alt: 'Axis Bank'},
            {img: './img/logos/yesbank.svg', alt: 'YES BANK'},
            {img: './img/logos/bankbaroda.svg', alt: 'Bank of Baroda'},
            {img: './img/logos/pnb.svg', alt: 'pnb'},
            {img: './img/logos/kotac.svg', alt: 'kotac'},
            {img: './img/logos/phonepe.svg', alt: 'PhonePe'}
        ]
    }


-
    let providersList = {
        class: 'logolist',
        title: 'Game Providers',
        items: [
            {img: './img/logos/thunderkick.svg', alt: 'Thunderkick'},
            {img: './img/logos/habanero.svg', alt: 'Habanero'},
            {img: './img/logos/spinomenal.svg', alt: 'Spinomenal'},
            {img: './img/logos/evolution.svg', alt: 'Evolution'},
            {img: './img/logos/pushgaming.svg', alt: 'PUSH GAMING'},
            {img: './img/logos/quickspin.svg', alt: 'Quickspin'},
            {img: './img/logos/nolimit.svg', alt: 'Nolimit'},
            {img: './img/logos/netgame.svg', alt: 'Netgame'},
            {img: './img/logos/netent.svg', alt: 'Netent'},
            {img: './img/logos/lightingbox.svg', alt: 'Lighting Box'},
            {img: './img/logos/ezugi.svg', alt: 'Ezugi'}
        ]
    }