@require './../../includes/core/color-vars'

@require './../../includes/core/reset'
@require './../../includes/core/core'
@require './../../includes/core/animate'

@require './../../includes/mixins/mix-btn/mix-btn'
@require './../../includes/mixins/mix-menu-list/mix-menu-list'


@require './../../includes/mixins/mix-char-item/mix-char-item'
@require './../../includes/mixins/mix-char-item/text-infoblock/text-infoblock'
@require './../../includes/mixins/mix-char-item/char-total/char-total'
@require './../../includes/mixins/mix-char-item/char-back/char-back'
@require './../../includes/mixins/mix-char-item/char-banner/char-banner'
@require './../../includes/mixins/mix-char-item/progress/progress'
@require './../../includes/mixins/mix-char-item/char-bet/char-bet'
@require './../../includes/mixins/mix-char-item/char-cancel/char-cancel'
@require './../../includes/mixins/mix-char-item/mix-stiker/mix-stiker'
@require './../../includes/mixins/mix-char-item/nowstiker/nowstiker'
@require './../../includes/mixins/mix-tabs/mix-tabs'
@require './../../includes/mixins/mix-epics/mix-epics'
@require './../../includes/mixins/mix-logolist/mix-logolist'


@require './../../includes/mixins/mix-cat-item/mix-cat-item'
@require './../../includes/mixins/mix-fields-form/mix-input-text/mix-input-text'
@require './../../includes/mixins/mix-fields-form/mix-checkbox/mix-checkbox'
@require './../../includes/mixins/mix-fields-form/mix-select/mix-select'
@require './../../includes/mixins/mix-infolist/mix-infolist'
@require './../../includes/mixins/mix-historylist/mix-historylist'
@require './../../includes/mixins/mix-notify/mix-notify'


@require './../../includes/modules/login/login'
@require './../../includes/modules/login/login-menu/login-menu'
@require './../../includes/modules/regions/region'
@require './../../includes/modules/loged-bonuses/loged-bonuses'


@require './../../includes/modules/icns-panel/icns-panel'
@require './../../includes/modules/favorite/favorite'
@require './../../includes/modules/slider-bonuses/slider-bonuses'
@require './../../includes/modules/bonus-empty/bonus-empty'
@require './../../includes/modules/sort-panel/sort-panel'
@require './../../includes/modules/search/search'
@require './../../includes/modules/search/search-filter/search-filter'
@require './../../includes/modules/search/search-filter-panel/search-filter-panel'
@require './../../includes/modules/search/search-btn-open/search-btn-open'
@require './../../includes/modules/btn-deposite/btn-deposite'
@require './../../includes/modules/form-fields/form-fields'

@require './../../includes/modules/popups/popups'
@require './../../includes/modules/popups/reg-popup/reg-popup'
@require './../../includes/modules/popups/log-popup/log-popup'
@require './../../includes/modules/popups/social-network/social-network'
@require './../../includes/modules/popups/bonuses-slider/bonuses-slider'


@require './../../includes/components/header/header'
@require './../../includes/components/header/menu/menu'
@require './../../includes/components/header/profile/profile'
@require './../../includes/components/header/profile/user/user'
@require './../../includes/components/header/profile/balance/balance'
@require './../../includes/components/header/profile/personal/personal'
@require './../../includes/components/header/tools-list/tools-list'
@require './../../includes/components/header/right-column/right-column'


@require './../../includes/components/main-content/main-content'
@require './../../includes/modules/banner-slider/banner-slider'

@require './../../includes/components/bonus-content/bonus-content'

@require './../../includes/components/slots-content/slots-content'


@require './../../includes/components/cashier-content/cashier-content'
@require './../../includes/components/cashier-content/cashier-tabs/cashier-tabs'
@require './../../includes/components/cashier-content/carts-list/carts-list'
@require './../../includes/components/cashier-content/empty-box/empty-box'
@require './../../includes/components/cashier-content/cashier-forms/cashier-forms'
@require './../../includes/components/cashier-content/fixed-payment/fixed-payment'



@require './../../includes/components/footer/footer'
@require './../../includes/components/footer/footer-menu/footer-menu'
@require './../../includes/components/footer/bottom-block/bottom-block'