extends ./../../includes/templates/landing/landing
block config
    - let params = meta.bonus



append fonts

prepend styles

append styles

append headScripts


block content
    include ./../../includes/components/header/header
    main
        include ./../../includes/components/bonus-content/bonus-content
    include ./../../includes/components/footer/footer


append scripts