extends ./../../includes/templates/landing/landing
block config
    - let params = meta.cashier



append fonts

prepend styles

append styles

append headScripts


block content
    include ./../../includes/components/header/header
    main
        include ./../../includes/components/cashier-content/cashier-content
    include ./../../includes/components/footer/footer


append scripts