extends ./../../includes/templates/landing/landing
block config
    - let params = meta.slots



append fonts

prepend styles

append styles

append headScripts


block content
    include ./../../includes/components/header/header
    main
        include ./../../includes/components/slots-content/slots-content
    include ./../../includes/components/footer/footer


append scripts