include vars-menu


nav.header-nav
    button.header-nav__close
    .header-nav__tabs
        .header-nav__tabs-content
            +menuList(menuCasino)
            +menuList(menuSport)
        .header-nav__footer
            include ./../../../modules/login/login-menu/login-menu
            include ./../../../modules/regions/region-menu
        .header-nav__tabs-head
            a.header-nav__tabs-head-item.active(href="##", data-tab="1") Casino
            a.header-nav__tabs-head-item(href="##", data-tab="2") Sport
