.login
    .login__box-default
        button.login__btn.js-btn--login(type="button") Login
        +button(go)

    .login__box-loged
        .avatar
            img(src="./img/avatar.png", alt="Avatar")
        +button(btnDeposit)