-
    bonuses = [
        {sum: '₹32,000', title: 'Balance'},
        {sum: '₹190,000', title: 'Bonus'}
    ]

-
    btnDeposit = {
        className: 'btn',
        type: 'button',
        label: 'Deposit'
    }

-
    go = {
        className: 'btn js-btn--reg',
        type: 'button',
        label: 'Let\'s go'
    }