.stiker
    padding 0 18px
    height 34px
    position absolute
    top 0
    left 0
    line-height 34px
    font-size 15px
    color $white
    white-space nowrap
    border-radius 16px 0
    opacity 0
    transition opacity 650ms 1200ms

    &--orange
        background-color $orange

    &--green
        background-color $green-darker

    &--blue
        background-color $blue

    &--brown
        background-color $brown

    &--red
        background-color $red

.animation
    .stiker
        opacity 1