.login-form
    width 100%

    .form-line
        &--double
            &:first-child
                .form-line__box
                    width 253px

                    &:first-child
                        width 74px

            &:last-child
                .btn__wrap
                    margin 24px 0 0
                    width 163px
