include var-login-form

.login-form
    .form-line
        label(for="mail") Email
        .form-line__field-wrap
            .form-line__field-icn.hover
                img(src="./img/svg/clear.svg", alt="Clear")
            +inputText(loginMailInput)
    .form-line
        label(for="password") Password
        .form-line__field-wrap
            .form-line__field-icn.hover
                img(src="./img/svg/show-pass.svg", alt="Show password")
            +inputText(loginPassInput)
    .form-line
        +checkbox(loginFogotInput)
        label.label.label__checkbox(for="fogot") Fogot your password?
            a(href="##") Get recovery link.