.login-form
    .form-line.form-line--double
        .form-line__box
            label(for="mail") Code
            .select
        .form-line__box
            label(for="mail") Phone number
            .form-line__field-wrap
                .form-line__field-icn.hover
                    img(src="./img/svg/clear.svg", alt="Clear")
                +inputText(loginPhoneInput)

    .form-line.form-line--double
        .form-line__box
            label(for="mail") Code
            +inputText(loginCodeInput)
        .btn__wrap
            +button(btnGetCode)