-
    let loginMailInput = {
        type: 'text',
        class: 'field field__text',
        name: 'mail',
        placeholder: 'user@mail.com'
    }


-
    let loginPassInput = {
        type: 'password',
        class: 'field field__text',
        name: 'password',
        placeholder: 'pick a password'
    }


-
    let loginFogotInput = {
        type: 'checkbox',
        id: 'fogot',
        class: 'field field__checkbox',
        name: 'fogot'
    }


-
    let loginPhoneInput = {
        type: 'text',
        class: 'field field__text',
        name: 'phone',
        placeholder: 'description'
    }


-
    let loginCodeInput = {
        type: 'password',
        class: 'field field__text',
        name: 'code'
    }


-
    btnGetCode = {
        className: 'btn',
        type: 'button',
        disabled: true,
        label: 'Get code'
    }