-
    let bonusesSliderList = [
        {
            classItem: 'swiper-slide popup-bonuses__list-item popup-bonuses__red',
            imgPath: './img/popup-banners/popup-bonus-1.png',
            srcset: './img/popup-banners/popup-bonus-1@x2.png 2x',
            imgAlt: 'Bonus banner',
            webp: './img/popup-banners/popup-bonus-1.webp 1x, ./img/popup-banners/popup-bonus-1@x2.webp 2x',
            desc: 'New player <span>bonus</span>',
            listTitle: '100%',
            text: 'Min deposit ₹ 700. Max Bonus ₹ 20,000. Wager x30.'
        },
        {
            classItem: 'swiper-slide popup-bonuses__list-item popup-bonuses__yellow',
            imgPath: './img/popup-banners/popup-bonus-2.png',
            srcset: './img/popup-banners/popup-bonus-2@x2.png 2x',
            imgAlt: 'Bonus banner',
            webp: './img/popup-banners/popup-bonus-2.webp 1x, ./img/popup-banners/popup-bonus-2@x2.webp 2x',
            desc: 'New player <span>bonus</span>',
            listTitle: '100%'
        },
        {
            classItem: 'swiper-slide popup-bonuses__list-item popup-bonuses__green',
            imgPath: './img/popup-banners/popup-bonus-3.png',
            srcset: './img/popup-banners/popup-bonus-3@x2.png 2x',
            imgAlt: 'Bonus banner',
            webp: './img/popup-banners/popup-bonus-3.webp 1x, ./img/popup-banners/popup-bonus-3@x2.webp 2x',
            desc: 'New player <span>bonus</span>',
            listTitle: '100%'
        }
    ]