.form-line.form-line--double
    .form-line__box.form-line__select
        label(for="mail") Code
        +select(selectPhoneCode)

    .form-line__box.form-line__phone
        label(for="mail") Phone number
        .form-line__icn-wrap
            +inputText(fieldPhoneInput)
            .form-line__icn.form-line__icn--clear
                img(src="./img/svg/clear.svg", alt="Clear")