.sort-panel
    .sort__header-list
        .sort__header-item(data-f="all") All
        .sort__header-item(data-f="f-favorite") Favorite
        .sort__header-item(data-f="f-popular") Popular
        include ./../search/search
    include ./../search/search-filter/search-filter
include ./../search/search-filter-panel/search-filter-panel