.icns-panel
    margin 79px 0 26px
    width 100%

    @media(max-width 767px)
        display none

    &__item
        margin-top 26px
        display inline-flex

        &:first-child
            margin-top 0